

hcloud_token        = "replace-with-your-hetzner-api-token"
server_name         = "cloudops-lite-k3s"
server_type         = "cx22"
server_location     = "fsn1"
server_image        = "ubuntu-24.04"
ssh_public_key_path = "~/.ssh/id_ed25519.pub"

# For stronger security, replace with your current public IP:
# allowed_ssh_ip = "YOUR_PUBLIC_IP/32"
allowed_ssh_ip = "0.0.0.0/0"

project_label = "cloudops-lite-platform"
